@font-face {
  	font-family: 'Open Sans L';
  	src: url('../assets/fonts/open-sans-light.ttf') format('truetype');
}

@font-face {
  	font-family: 'Open Sans R';
  	src: url('../assets/fonts/open-sans-regular.ttf') format('truetype');
}

$page-family: 'Open Sans L', Arial, Helvetica, sans-serif !default;
$paragraph-family: 'Open Sans R', Arial, Helvetica, sans-serif !default;

body {
  	font-family: $page-family;
}

h1, h3, h4, a, dt, button {
	font-family: $paragraph-family;
}
